<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.evansappwriter.mod000"
      android:versionCode="2"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".QuoteSplashActivity"
                  android:screenOrientation="portrait" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name=".LessonEdit" android:label="@string/titlebar_name" android:screenOrientation="portrait"></activity>
<activity android:name=".LessonActivity" android:label="@string/titlebar_name" android:screenOrientation="portrait"></activity>
<activity android:theme="@android:style/Theme.Dialog" android:name=".QuoteInstructionsActivity" android:screenOrientation="portrait"></activity>
<activity android:theme="@android:style/Theme.Dialog" android:name=".QuoteAboutActivity" android:screenOrientation="portrait"></activity>
<activity android:name=".QuoteOfTheDayActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/titlebar_name" android:screenOrientation="portrait"></activity>
<activity android:name=".QuoteActivateActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
<activity android:name=".MyPreferenceActivity" android:label="@string/preferences_title" android:screenOrientation="portrait"></activity>
    </application>




</manifest>